.not-found {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2%;
  text-align: center;
  color: #0f172a;
}

a {
  text-decoration: none;
  color: #0ea5e9;
}

