html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f1f5f9;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  font-family: inherit;
}
